.bgLanding{
    -fx-background-color: black;
}

.label {
    -fx-text-fill: white;
    -fx-font-family: "Averia Serif Libre";
    -fx-font-size: 57;
}

.lblSmall {
    -fx-font-size: 28;
}

.lblMedium {
    -fx-font-size: 50;
}

.lblVerySmall {
    -fx-font-size: 15;
}

.lblLink {
    -fx-text-fill: #CBFDFF;
}

.lblTitle {
    -fx-text-fill: #D95BAD;
    -fx-font-size: 90px;
    -fx-font-family: "Averia Serif Libre";
    -fx-font-weight: bold;

}

.lblWelcome {
    -fx-text-fill: white;
    -fx-font-size: 36px;
    -fx-font-style: italic;
}

.lblError {
    -fx-text-fill: rgb(180, 56, 56);
    -fx-font-weight: bold;
}


.button {
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-font-family: "Averia Serif Libre";
}

.textField {
    -fx-font-family: "Averia Serif Libre";

}

