.bgLanding{
    -fx-background-color: black;
}

.label {
    -fx-text-fill: #D95BAD;
    -fx-font-size: 90px;
    -fx-font-family: "Averia Serif Libre";
    -fx-font-weight: bold;

}

.lblWelcome {
    -fx-text-fill: white;
    -fx-font-size: 36px;
    -fx-font-style: italic;
}

.button {
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-font-family: "Averia Serif Libre";
}